{% extends "applostickes/base.html" %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
  {% if field.errors %}
  <strong>
    <h4 style="color: red;">{{ field.errors }}</h4>
  </strong>
  {% endif %}
  {{ field.label_tag }}<br />
  {% if forloop.counter == 5 %}
  <ul style="list-style: none;">
    {% for li in field %} <!-- for de cada uno de las leches/bollicaos... -->
    <li>
      {{ li }} <!-- la lichi... cuyo id sigue el formato de id_elements_{{ forloop.counter0 }} -->
      <ul>
        <label for="checkall_id_elements_{{ forloop.counter0 }}">
          <input type="checkbox" id="checkall_id_elements_{{ forloop.counter0 }}">
          All
        </label>
        {% for people in lista_peoples %} <!-- bucle for de cada uno de los checkboxes detras de All -->
        <label for="{{ people.1 }}">
          <input type="checkbox" name="people_paying_element_{{ forloop.parentloop.counter0 }}" value="{{ people.0 }}"
            id="{{ people.1 }}" />
          {{ people.2 }}
        </label>
        {% endfor %}
        <script type="text/javascript">
          $(document).ready(function () {
            // codigo para habilitar/deshabilitar checkboxes con cada elemento.checkbox
            $("#id_elements_{{ forloop.counter0 }}").click(function () {
              // si esta el bisho checkeado, me habilitas todas las weas de debajo (All, pepe, juan...)
              if ($('#id_elements_{{ forloop.counter0 }}').is(":checked")) {
                // habilitamos el All
                $('input[id="checkall_id_elements_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("disabled", false);
                });
                // habilitamos a pepe, juan...
                $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("disabled", false);
                });
              // si no esta el bisho checkeado, me deshabilitas todas las weas de debajo (All, pepe, juan...)
              } else {
                // deshabilitamos el All
                $('input[id="checkall_id_elements_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("disabled", true);
                });
                // deshabilitamos a pepe, juan...
                $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("disabled", true);
                });
              }
            });
            // codigo de checkbox All
            $('#checkall_id_elements_{{ forloop.counter0 }}').click(function () {
              // si el All esta checkiado, me checkeas a pepe, juan...
              if ($('#checkall_id_elements_{{ forloop.counter0 }}').is(":checked")) {
                $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("checked", true);
                });
              // si el All no esta checkiado, me descheckeas a pepe, juan...
              } else {
                $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("checked", false);
                });
              }
            });
            // codigo de cada checkbox independiente cuando le das a All
            $('input[name="people_paying_element_{{ forloop.counter0 }}"]').bind('change', function () {
              if ($('input[name="people_paying_element_{{ forloop.counter0 }}"]').filter(':not(:checked)').length == 0) {
                $('#checkall_id_elements_{{ forloop.counter0 }}').prop("checked", true);
              } else {
                $('#checkall_id_elements_{{ forloop.counter0 }}').prop("checked", false);
              }
            });
            // comenzamos con checkboxes checkeados
            $('#checkall_id_elements_{{ forloop.counter0 }}').click()
            // comenzamos con checkboxes deshabilitados
            $('input[id="checkall_id_elements_{{ forloop.counter0 }}"]').each(function () {
              $(this).prop("disabled", true);
            });
            $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
              $(this).prop("disabled", true);
            });
            
            $('#btnSend').click(function(e){
              if($("#id_elements_{{ forloop.counter0 }}").is(":checked")){
                if($('#checkall_id_elements_{{ forloop.counter0 }}').is(":checked")){
                }
                else{
                  if($('input[name="people_paying_element_{{ forloop.counter0 }}"]').filter(":checked").length > 1){
                  }
                  else{
                    alert("Pick a group of payers. At least two.");
                    e.preventDefault();
                    return false;
                  }
                  
                }
              }
            });
          });
         
            
          
        </script>
      </ul>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  {{ field }}<br />
  {% endif %}
  {% if field.help_text %}
  {{ field.help_text|safe }}<br /><br />
  {% endif %}
  {% endfor %}<br />
  <input type="button" value="Cancel" onclick="history.back()" />
  <input type="submit" value="Submit" id="btnSend" /><br /><br />
</form>
{% endblock content %}
{% block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a>
      </li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create
          group</a></li>
    </ul>
    </p>
  </div>
</div>
{% endblock side %}