{% extends "applostickes/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ form | crispy }}
  <div id="app">
    <input type="button" style="display: inline;" class="btn btn-outline-info btn-block" value="Add User" @click="add" />
    <br /><br />
    <p>{% trans "Added users" %}:</p>
    <div id="added">
    </div>
    <br />
    <input type="submit" class="btn btn-outline-secondary mr-2" value="{% trans 'Cancel' %}" onclick="history.back()" />
    <input type="submit" class="btn btn-outline-info" value="{% trans 'Submit' %}" />
    <br /><br />
  </div>
</form>
<script type="text/javascript">
  var elementosVue = new Vue({
    el: "#app",
    data: {
      users: []
    },
    methods: {
      add: function () {
        var f = document.getElementsByName("users");
        var user = f[0][f[0].selectedIndex];
        if (this.users.length == 0) {
          this.users.push(f[0][f[0].selectedIndex]);
          console.log(this.users[0].outerText);
          $("#added").append(
            '<div id="' + user.value + 'ELDIV"><button id="' + user.value + '" style="display: inline;" type="button" class="btn btn-outline-danger mr-4 mb-2" onclick="deleteF(this, event)">' +
            '<span>&times;</span>' +
            '</button>' +
            '<input type="text" name="users_group" style="display: none;" value="' + user.value + '">' +
            user.outerText +
            '</div>'
          );
        }
        else {
          if (this.users.includes(user)) {
            console.log("esta");
          }
          else {
            this.users.push(f[0][f[0].selectedIndex]);
            $("#added").append(
              '<div id="' + user.value + 'ELDIV"><button id="' + user.value + '" style="display: inline;" type="button" class="btn btn-outline-danger mr-4 mb-2" onclick="deleteF(this, event)">' +
              '<span>&times;</span>' +
              '</button>' +
              '<input type="text" name="users_group" style="display: none;" value="' + user.value + '">' +
              user.outerText +
              '</div>'
            );
          }
        }
      }
    }
  });
  function deleteF(ele, e) {
    var cosaPincha = document.getElementById(ele.id + "ELDIV");
    cosaPincha.remove();
    for (var i = 0; i < elementosVue.users.length; i++) {
      console.log(elementosVue.users[i].value);
      if (ele.id == elementosVue.users[i].value) {
        elementosVue.users.splice(i, 1);
      }
    }
  }
</script>
{% endblock content %}
{%block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>{% trans "Options" %}</h3>
    <p class='text-muted'>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">{% trans "Home" %}</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">{% trans "Groups" %}</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">{% trans "Debts" %}</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">{% trans "Create group" %}</a></li>
      </ul>
    </p>
  </div>
</div>
{% endblock side %}