{% extends "applostickes/base.html" %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
  {% if field.errors %}
  <div class="alert alert-danger">
    <span style="color: red;">{{ field.errors }}</span>
  </div>
  {% endif %}
  {% if forloop.counter == 3 %}
  {% elif forloop.counter == 5 %}
  <div id="elements-alerts"></div>
  {{ field.label_tag }}<br />
  {% else %}
  {{ field.label_tag }}<br />
  {% endif %}
  {% if forloop.counter == 5 %}
  <ul style="list-style: none;">
    {% for li in field %} <!-- for de cada uno de las leches/bollicaos... -->
    <li>
      {{ li }} <!-- la lichi... cuyo id sigue el formato de id_elements_{{ forloop.counter0 }} -->
      <ul>
        <label for="checkall_id_elements_{{ forloop.counter0 }}">
          <input type="checkbox" id="checkall_id_elements_{{ forloop.counter0 }}">
          All
        </label>
        {% for people in lista_peoples %} <!-- bucle for de cada uno de los checkboxes detras de All -->
        <label for="{{ people.1 }}">
          <input type="checkbox" name="people_paying_element_{{ forloop.parentloop.counter0 }}" value="{{ people.0 }}"
            id="{{ people.1 }}" />
          {{ people.2 }}
        </label>
        {% endfor %}
        <script type="text/javascript">
          $(document).ready(function () {
            // codigo para habilitar/deshabilitar checkboxes con cada elemento.checkbox
            $("#id_elements_{{ forloop.counter0 }}").click(function () {
              // si esta el bisho checkeado, me habilitas todas las weas de debajo (All, pepe, juan...)
              if ($('#id_elements_{{ forloop.counter0 }}').is(":checked")) {
                // habilitamos el All
                $('input[id="checkall_id_elements_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("disabled", false);
                });
                // habilitamos a pepe, juan...
                $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("disabled", false);
                });
              // si no esta el bisho checkeado, me deshabilitas todas las weas de debajo (All, pepe, juan...)
              } else {
                // deshabilitamos el All
                $('input[id="checkall_id_elements_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("disabled", true);
                });
                // deshabilitamos a pepe, juan...
                $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("disabled", true);
                });
              }
            });
            // codigo de checkbox All
            $('#checkall_id_elements_{{ forloop.counter0 }}').click(function () {
              // si el All esta checkiado, me checkeas a pepe, juan...
              if ($('#checkall_id_elements_{{ forloop.counter0 }}').is(":checked")) {
                $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("checked", true);
                });
              // si el All no esta checkiado, me descheckeas a pepe, juan...
              } else {
                $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
                  $(this).prop("checked", false);
                });
              }
            });
            // codigo de cada checkbox independiente cuando le das a All
            $('input[name="people_paying_element_{{ forloop.counter0 }}"]').bind('change', function () {
              if ($('input[name="people_paying_element_{{ forloop.counter0 }}"]').filter(':not(:checked)').length == 0) {
                $('#checkall_id_elements_{{ forloop.counter0 }}').prop("checked", true);
              } else {
                $('#checkall_id_elements_{{ forloop.counter0 }}').prop("checked", false);
              }
            });
            // cuando volvemos de una form no valida... (un poco ñapa)
            // si esta el bisho checkeado, me habilitas todas las weas de debajo (All, pepe, juan...)
            if ($('#id_elements_{{ forloop.counter0 }}').is(":checked")) {
              $('#checkall_id_elements_{{ forloop.counter0 }}').click()
            } else {
              // comenzamos con checkboxes deshabilitados
              $('input[id="checkall_id_elements_{{ forloop.counter0 }}"]').each(function () {
                $(this).prop("disabled", true);
              });
              $('input[name="people_paying_element_{{ forloop.counter0 }}"]').each(function () {
                $(this).prop("disabled", true);
              });
            }
            // $('#btnSend').click(function (e) {
            //   // si la leche esta checkiada, empieza la fiesta de las comprobaciones
            //   if ($("#id_elements_{{ forloop.counter0 }}").is(":checked")) {
            //     // si el All esta checkiado, todo gucci
            //     if ($('#checkall_id_elements_{{ forloop.counter0 }}').is(":checked")) {
            //       // pass
            //     }
            //     // si no es el caso, comprobar que al menos 2 pepes y juanes estan marcaus
            //     else {
            //       // si hay dos pepes, gud
            //       if ($('input[name="people_paying_element_{{ forloop.counter0 }}"]').filter(":checked").length > 1) {
            //         // pass
            //       }
            //       // si no hay dos juanes ENTODA LA TRANSACCION EN TOTAL...
            //       else {
            //         $("#elements-alerts").prepend(
            //           '<div class="alert alert-danger">' +
            //             '<span style="color: red;">' +
            //               '<ul class="errorlist">' +
            //                 '<li>' +
            //                   'No puedes tener un único usuario en la transaccion.' +
            //                 '</li>' +
            //               '</ul>' +
            //             '</span>' +
            //           '</div>'
            //         );
            //         e.preventDefault();
            //       }
            //     }
            //   }
            // });
          });
        </script>
      </ul>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  {{ field }}<br />
    {% if forloop.counter == 1 %}
    <br />
    {% endif %}
  {% endif %}
  {% if forloop.counter == 3 %}
  {% else %}
    {% if field.help_text %}
    {{ field.help_text|safe }}<br /><br />
  {% endif %}
  {% endif %}
  {% endfor %}<br />
  <input type="button" value="Cancel" onclick="history.back()" class="btn btn-secondary" />
  <input type="submit" value="Submit" id="btnSend" class="btn btn-success"/><br /><br />
  <script type="text/javascript">
    $(document).ready(function () {
      $('#btnSend').click(function (e) {
        var num_de_users_por_elemento = $("[id^=persona_]").length / $("[id^=id_elements_]").length;
        console.log(num_de_users_por_elemento);
        var array_users_implicados = [];
        $('input[id^=persona_]').each(function() {
          if (!array_users_implicados.includes($(this).val()) && $(this).prop('checked') && !$(this).prop('disabled')) {
            array_users_implicados.push($(this).val())
          }
        });
        console.log(array_users_implicados);
        var user_pagador = $('select[id="id_payer"]').val();
        console.log(user_pagador);
        var primer_if_trig = 0;
        if (array_users_implicados.length == 1) {
          $("#elements-alerts").empty();
          $("#elements-alerts").prepend(
            '<div id="div-alert" class="alert alert-danger">' +
              '<span style="color: red;">' +
                '<ul class="errorlist">' +
                  '<li>' +
                    'No puedes tener un único usuario en la transaccion.' +
                  '</li>' +
                '</ul>' +
              '</span>' +
            '</div>'
          );
          primer_if_trig = 1
          e.preventDefault();
        }
        if (!array_users_implicados.includes(user_pagador)) {
          if (primer_if_trig == 1) {
            $("#div-alert").prepend(
              '<span style="color: red;">' +
                '<ul class="errorlist">' +
                  '<li>' +
                    'El pagador no tiene nada en la transaccion.' +
                  '</li>' +
                '</ul>' +
              '</span>'
            );
          } else {
            $("#elements-alerts").empty();
            $("#elements-alerts").prepend(
              '<div class="alert alert-danger">' +
                '<span style="color: red;">' +
                  '<ul class="errorlist">' +
                    '<li>' +
                      'El pagador no tiene nada en la transaccion..' +
                    '</li>' +
                  '</ul>' +
                '</span>' +
              '</div>'
            );
            e.preventDefault();
          }
        }
      });
    });
  </script>
</form>
{% endblock content %}
{% block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a>
      </li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create
          group</a></li>
    </ul>
    </p>
  </div>
</div>
{% endblock side %}