{% extends "applostickes/base.html" %}
{% load static %}
{% block content %}
<form id="app" method="POST">
  {% csrf_token %}
  {% for field in form %}
  {% if field.errors %}
  <div class="alert alert-danger">
    <span style="color: red;">{{ field.errors }}</span>
  </div>
  {% endif %}
  {% if forloop.counter == 3 %}
  {% elif forloop.counter == 5 %}
  <div id="elements-alerts"></div>
  {{ field.label_tag }}<br />
  {% else %}
  {{ field.label_tag }}<br />
  {% endif %}
  {% if forloop.counter == 5 %}
  <ul id="ultohide" style="display: block; list-style: none;">
    {% for li in field %} <!-- for de cada uno de las leches/bollicaos... -->
    <li>
      {{ li }} <!-- la lichi... cuyo id sigue el formato de id_elements_{{ forloop.counter0 }} -->
      <ul>
        <label for="checkall_id_elements_{{ forloop.counter0 }}">
          <input type="checkbox" id="checkall_id_elements_{{ forloop.counter0 }}" />
          All
        </label>
        {% for people in lista_peoples %} <!-- bucle for de cada uno de los checkboxes detras de All -->
        <label for="{{ people.1 }}">
          <input type="checkbox" name="people_paying_element_{{ forloop.parentloop.counter0 }}" value="{{ people.0 }}"
            id="{{ people.1 }}" />
          {{ people.2 }}
        </label>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  {{ field }}<br />
    {% if forloop.counter == 1 %}
    <br />
    {% endif %}
  {% endif %}
  {% if forloop.counter == 3 %}
  {% else %}
    {% if field.help_text %}
    {{ field.help_text|safe }}<br /><br />
  {% endif %}
  {% endif %}
  {% endfor %}
  <ul id="ulVue" style="list-style: none;" v-for="(e, index) in elements">
    <li>
      <label v-bind:for="'vue_' + index">
        <input type="checkbox" v-bind:id="'vue_' + index" @click="disable_enable(index)" name="elements_vue" v-bind:value="e" />
          [[ e ]]
      </label>
      <ul>
        <label v-bind:for="'checkall_id_elements_vue_' + index">
          <input type="checkbox" disabled v-bind:id="'checkall_id_elements_vue_' + index" @click="check_uncheck_all_users(index)" />
          All
        </label>
        {% for people in lista_peoples %} <!-- bucle for de cada uno de los checkboxes detras de All -->
        <label for="{{ people.1 }}">
          <input type="checkbox" disabled v-bind:name="'people_paying_element_vue_' + index" value="{{ people.0 }}"
            id="{{ people.1 }}" @click="activate_all(index)" />
          {{ people.2 }}
        </label>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <br />
  <label for="el">New element:
    <input v-model="newElement" id="el" type="text" placeholder="Add product"> <!-- elemento de la data de Vue -->
  </label>
  <label for="pr">Price:
    <input v-model="newPrice" id="pr" type="text" placeholder="Add price"> <!-- elemento de la data de Vue -->
  </label>
  <button type="button" id="botonDeAdd" class="btn btn-primary ml-2" @click="saveElement">Add</button>
  <!-- al hacer click en botón se envia el nuevo elemento a la lista -->
  <div id="elements-alerts2" class="mt-2"></div><br />
  <a role="button" class="btn btn-outline-secondary mr-2"
    href="{% url 'group' groupName=group_name group_identifier=groupIdentifier %}">
    Cancel
  </a>
  <input type="submit" value="Submit" id="btnSend" class="btn btn-outline-info" /><br /><br />
</form>
<script type="text/javascript">
  new Vue({
    delimiters: ['[[', ']]'],
    el: "#app",
    data: {
      newElement: '',
      newPrice: '',
      elements: []
    },
    methods: {
      saveElement: function () {
        if (this.newElement.trim() == "") {
          $("#elements-alerts2").empty();
          $("#elements-alerts2").prepend(
            '<div id="div-alert" class="alert alert-danger">' +
              '<span style="color: red;">' +
                '<ul class="errorlist">' +
                  '<li>' +
                    'You must input an item name.' +
                  '</li>' +
                '</ul>' +
              '</span>' +
            '</div>'
          );
        }
        else {
          if (this.newPrice == (this.newPrice.length == 0)) {
            $("#elements-alerts2").empty();
              $("#elements-alerts2").prepend(
                '<div id="div-alert" class="alert alert-danger">' +
                  '<span style="color: red;">' +
                    '<ul class="errorlist">' +
                      '<li>' +
                        'You must input a number in the price.' +
                      '</li>' +
                    '</ul>' +
                  '</span>' +
                '</div>'
              );
          }
          else {
            this.newPrice = parseFloat(this.newPrice);
            if (isNaN(this.newPrice) || this.newPrice <= 0.009) {
              $("#elements-alerts2").empty();
              $("#elements-alerts2").prepend(
                '<div id="div-alert" class="alert alert-danger">' +
                  '<span style="color: red;">' +
                    '<ul class="errorlist">' +
                      '<li>' +
                        'You must input a valid number in the price.' +
                      '</li>' +
                    '</ul>' +
                  '</span>' +
                '</div>'
              );
            }
            else {
              this.newElement = ' ' + this.newElement + ' - ' + this.newPrice + ' €';
              this.elements.push(this.newElement);
              this.newElement = "";
              $("#elements-alerts2").empty();
            }
          }
        }
      },

      // codigo para habilitar/deshabilitar checkboxes con cada elemento.checkbox
      disable_enable: function (index) {
        // console.log('jeje mira este index wn --> ' + index);
        var checkbox_vue = document.getElementById("vue_" + index);
        var people_paying_checkbox = Array.prototype.slice.call(document.getElementsByName("people_paying_element_vue_" + index));
        // console.log(checkbox_vue);
        // console.log(checkbox_vue.checked);

        // si esta el bisho checkeado, me habilitas todas las weas de debajo (All, pepe, juan...)
        if (checkbox_vue.checked) {
          // habilitamos el All
          document.getElementById("checkall_id_elements_vue_" + index).disabled= false;
          
          for(var e = 0; e < people_paying_checkbox.length; e++){
            people_paying_checkbox[e].disabled = false;
          }
          // habilitamos a pepe, juan...

        } else {
          // deshabilitamos el All
          document.getElementById("checkall_id_elements_vue_" + index).disabled = true;
          for(var e = 0; e < people_paying_checkbox.length; e++){
            people_paying_checkbox[e].disabled = true;
          }
          // deshabilitamos a pepe, juan...
          
        }
      },
      //codigo para marcar o desmarcar todos los usuarios en función de All
      check_uncheck_all_users: function(index){
        var checkbox_all = document.getElementById("checkall_id_elements_vue_" + index);
        var people_paying_checkbox = Array.prototype.slice.call(document.getElementsByName("people_paying_element_vue_" + index));
        if(checkbox_all.checked){
          for(var e = 0; e < people_paying_checkbox.length; e++){
            people_paying_checkbox[e].checked = true;
          }
        }
        else{
          for(var e = 0; e < people_paying_checkbox.length; e++){
            people_paying_checkbox[e].checked = false;
          }
        }
      },
      activate_all: function(index){
        f =[];
        var a = 0;
        var people_paying_checkbox = Array.prototype.slice.call(document.getElementsByName("people_paying_element_vue_" + index));
        for(var e = 0; e < people_paying_checkbox.length; e++){
            f[e] = people_paying_checkbox[e].checked;
        }
        for(var i = 0; i < f.length; i++){
            if(f[i] == true){
              a++;
            }
            else{

            }
        }
        if(a==f.length){
          document.getElementById("checkall_id_elements_vue_" + index).checked = true;
        }
        else{
          document.getElementById("checkall_id_elements_vue_" + index).checked = false;
        }
      }
    }
  });
</script>
<script type="text/javascript" src="{% static 'applostickes/checkboxes.js' %}"></script>
<script type="text/javascript" src="{% static 'applostickes/btnSendChecks.js' %}"></script>
{% endblock content %}
{% block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a>
      </li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create
          group</a></li>
    </ul>
    </p>
  </div>
  <button id="btnShHd" role="button" class="btn btn-outline-info btn-block">Hide old elements</button>
  <script type="text/javascript" src="{% static 'applostickes/showhideelems.js' %}"></script>
</div>
{% endblock side %}