{% extends "applostickes/base.html" %}
{% block content %}
{% for trans_name, trans_list in debts.items %}
<div class="row justify-content:center">
  <article class="media content-section col-md-12">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row">
          <div class="col border-right">
            <a class="mr-2" href="{% url 'debt' trans_name %}">{{ trans_name }}</a>
          </div>
          <div class="col border-right">
            <small class="text-muted">{{ trans_list.0 }}</small>
          </div>
          <hr>
          <div class="col">
            <a class="mr-2" href="{% url 'group' trans_list.1 %}">{{ trans_list.1 }}</a>
          </div>
        </div>
      </div>
      <div class="article-metadata">
        <div class="row">
          <div class="col-md-auto">
            <p style="justify-content: right;">Cost:</p>
          </div>
          <div class="col-md-auto">
            <p style="justify-content: center;">{{ trans_list.2 }}</p>
          </div>
        </div>
      </div>
      <div class="article-metadata">
        <div class="row">
          <div class="col-md-auto">
            <p style="justify-content: right;">Balance:</p>
          </div>
          <div class="col-md-auto">
            <p style="justify-content: center;">{{ trans_list.3 }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for user_name in trans_list.4 %}
        <div class="col border-right">
          <a class="mr-2">{{ user_name }}</a>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
  </article>
</div>
{% endfor %}
{% endblock content %}
{%block side %}
<div class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="#">Debts</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create group</a></li>
      </ul>
    </p>
  </div>
</div>
{% endblock side %}
