{% extends "applostickes/base.html" %}
{% block content %}
<div id="app">
  <div class="col">
    <button id="btnShHd" role="button" class="btn btn-outline-info btn-block" @click="hideshow">Show All Transactions</button>
  </div>
</br>
{% for trans_name, trans_list in debts.items %}
{% if trans_list.3 == 0 %}
<div name="transaccsion" style="display: none;" class="col-md-12">
{% else %}
<div name="transaccsion" style="display: block;" class="col-md-12">
{% endif %}
  <a class="article-title" role="button" href="{% url 'debt' debtName=trans_name transaction_identifier=trans_list.5 %}">
  
    {% if trans_list.3 > 0 %}
      <article style="background-color: rgb(253, 193, 182);" class="media content-section col-md-12">
    {% elif trans_list.3 == 0 %}
      <article class="media content-section col-md-12">
    {% else %}
     <article style="background-color: rgb(217, 248, 170);" class="media content-section col-md-12">
    {% endif %}
      <div class="media-body">
        <div class="article-metadata border-bottom border-dark">
          <div class="row">
            <div class="col border-right border-dark">
              <h4>{{ trans_name }}</h4>
            </div>
            <div class="col border-right border-dark">
              <small class="text-muted">{{ trans_list.0 }}</small>
            </div>
            <div class="col">
              <small class="text-muted">
                <!-- <a href="{% url 'group' groupName=trans_list.1 group_identifier=trans_list.6 %}"> -->
                  {{ trans_list.1 }}
                <!-- </a> -->
              </small>
            </div>
          </div>
        </div>
        <!-- <a role="button" class="article-title"
          href="{% url 'debt' debtName=trans_name transaction_identifier=trans_list.5 %}"> -->
          <div class="article-metadata border-bottom border-dark">
            <div class="row">
              <div class="col">
                {% if trans_list.2 > 0 %}
                <p class="text-muted">Coste: {{ trans_list.2 }} €</p>
                {% elif trans_list.2 == 0 %}
                <p class="text-muted">Coste: 0.0 €</p><!-- por eso de que python no pilla decimales de 0 -->
                {% else %}
                <p class="text-muted">Coste: {{ trans_list.2 }} €</p>
                {% endif %}
              </div>
              <!-- <div class="col">
                <p style="display: inline; float: right;">{{ trans_list.2 }}</p>
              </div> -->
            </div>
          </div>
          <div class="article-metadata border-bottom border-dark">
            <div class="row">
              <div class="col">
                {% if trans_list.3 > 0 %}
                <p name="bal" class="text-muted">Balance (debes): {{ trans_list.3 }} €</p>
                {% elif trans_list.3 == 0 %}
                <p name="bal" class="text-muted">Balance: 0.0 €</p><!-- por eso de que python no pilla decimales de 0 -->
                {% else %}
                <p name="bal" class="text-muted">Balance (te deben): {{ trans_list.3 }} €</p>
                {% endif %}
              </div>
              <!-- <div class="col">
                <p class="text-muted" style="display: inline; float: right;">{{ trans_list.3 }}</p>
              </div> -->
            </div>
          </div>
          <div class="row">
            {% for user_name in trans_list.4 %}
            {% if forloop.last %}
            <div class="col">
              <p class="text-muted">{{ user_name }}</p>
            </div>
            {% else %}
            <div class="col border-right border-dark">
              <p class="text-muted">{{ user_name }}</p>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        <!-- </a> -->
      </div>
    </article>
  </a>
 
</div>
{% endfor %}

<script>
  var app = new Vue({
    el: '#app',
    data: {
      
    },
    methods: {
      hideshow: function(){
        var x = document.getElementsByName("transaccsion");
        var valor = document.getElementsByName("bal");
        var btn = document.getElementById("btnShHd");
        for(var i = 0; i < valor.length; i++){
          var auth = valor[i].innerText;
          if(x[i].style.display === "none") {
            if(auth == "Balance: 0.0 €"){
              x[i].style.display = "block";
              btn.innerHTML= "Hide Paid Transactions";
            }
          }
          else{
            if(auth == "Balance: 0.0 €"){  
              x[i].style.display = "none";
              btn.innerHTML= "Show All Transactions";
            }
          }
        }
      }
    }
  });
  </script>
</div>
{% endblock content %}
{%block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a>
      </li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="#">Debts</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create
          group</a></li>
    </ul>
    </p>
  </div>
</div>
{% endblock side %}