{% extends "applostickes/base.html" %}
{% block content %}
{% for post in posts %}
<div class="row justify-content:center">
  <article class="media content-section col-md-12">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row">
          <div class="col border-right">
            <a class="mr-2" href="{% url 'debt' post.debtName %}">{{ post.debtName }}</a>
          </div>
          <div class="col border-right">
            <small class="text-muted">{{ post.description }}</small>
          </div>
          <hr>
          <div class="col">
            <a class="mr-2" href="{% url 'group' post.groupName %}">{{ post.groupName }}</a>
          </div>
        </div>
      </div>
      <div class="article-metadata">
        <div class="row">
          <div class="col-md-auto">
            <p style="justify-content: right;">Cost:</p>
          </div>
          <div class="col-md-auto">
            <p style="justify-content: center;">{{ post.cost }}</p>
          </div>
        </div>
      </div>
      <div class="article-metadata">
        <div class="row">
          <div class="col-md-auto">
            <p style="justify-content: right;">Balance:</p>
          </div>
          <div class="col-md-auto">
            <p style="justify-content: center;">{{ post.debtBalance }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col border-right">
          <a class="mr-2" href="#">{{ post.user1 }}</a>
        </div>
        <hr>
        <div class="col border-right">
          <a class="mr-2" href="#">{{ post.user2 }}</a>
        </div>
        <hr>
        <div class="col border-right">
          <a class="mr-2" href="#">{{ post.user3 }}</a>
        </div>
        <div class="col">
          <a class="mr-2" href="#">{{ post.user4 }}</a>
        </div>
      </div> 
      </div>
  </article>
</div>
{% endfor %}
{% endblock content %}
{%block side %}
<div class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="#">Debts</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create group</a></li>
      </ul>
    </p>
  </div>
</div>
{% endblock side %}
