{% extends "applostickes/base.html" %}
{% block content %}


{% for trans_name, trans_list in debts.items %}
    {% if trans_list.1 == trans_list.2 %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{trans_list.1}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{trans_name}}</li>
            </ol>
        </nav>
        <h3>{{i.groupName}} >> {{i.debtName}} </h3>
            <div style="justify-content: center;" class="row">
                <article class="media content-section col-md-12">
                <div class="media-body">
                    <div class="article-metadata">
                    <div class="row">
                        <div class="col border-right">
                        <h4>{{ i.debtName }}</h4>
                        </div>
                        <div class="col">
                        <small class="text-muted">{{i.description}}</small>
                        </div>
                    </div>
                    </div>
                    <div class="article-metadata">
                        <div class="row">
                            <div class="col">
                            <p>Cost: {{ i.cost }}</p>
                            </div>
                        </div>
                        
                        </div>
                        <div class="article-metadata">
                            <div class="row">
                                <div class="col">
                                <p>Balance: {{ i.debtBalance }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="article-metadata">
                            <div class="row">
                                <div class="col border-right">
                                <p>{{ i.user1 }}</p>
                                </div>
                                <div class="col border-right">
                                    <p>{{ i.user2 }}</p>
                                </div>
                                <div class="col border-right">
                                    <p>{{ i.user3 }}</p>
                                </div>
                                <div class="col">
                                    <p>{{ i.user4 }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Elemento 1</p>
                                </div>
                            <div class="col">
                            <p>{{ i.user1 }}</p>
                            </div>
                            <div class="col">
                                <p>8</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>...</p>
                                </div>
                            
                        </div>
                    </div>
                </article>
                
            </div>
            {% endif %}
    {% endfor %}


{% endblock %}
{% block side %}
<div class="col-md-4">
    <div class="content-section">
      <h3>Options</h3>
      <p class='text-muted'>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
          <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a></li>
          <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
          <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create group</a></li>
        </ul>
      </p>
    </div>
    
<a role="button" class="btn btn-outline-secondary btn-block" href="#">Pay debt</a>
</div>
{% endblock side %}