{% extends "applostickes/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'group' debt.0 %}">{{ debt.0 }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ debt.1 }}</li>
  </ol>
</nav>
<div style="justify-content: center;" class="row">
  <article class="media content-section col-md-12">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row">
          <div class="col border-right">
            <h4>{{ debt.1 }}</h4>
          </div>
          <div class="col">
            <small class="text-muted">{{ debt.2 }}</small>
          </div>
        </div>
      </div>
      <div class="article-metadata">
        <div class="row">
          <div class="col">
            <p>Cost: {{ debt.3 }}</p>
          </div>
        </div>
      </div>
      <div class="article-metadata">
        <div class="row">
          <div class="col">
            <p>Balance: {{ debt.4 }}</p>
          </div>
        </div>
      </div>
      <div class="article-metadata">
        <div class="row">
          {% for user_name in debt.5 %}
          {% if forloop.last %}
          <div class="col">
            <p>{{ user_name }}</p>
          </div>
          {% else %}
          <div class="col border-right">
            <p>{{ user_name }}</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% for element in debt.6 %}
      <div class="row">
        <div class="col">
          <p>{{ element.0 }}</p>
        </div>
        <div class="col">
          <small style="float: right;" class="text-muted">{{ element.1 }}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
</div>
{% endblock %}
{% block side %}
<div class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create group</a></li>
    </ul>
    </p>
  </div>
  <a role="button" class="btn btn-outline-secondary btn-block" href="#">Pay debt</a>
</div>
{% endblock side %}