{% extends "applostickes/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'group' groupName=debt.0 group_identifier=debt.1 %}">{{ debt.0 }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ debt.2 }}</li>
  </ol>
</nav>
<div class="col">
  {% if debt.5 > 0 %}
    <article class="media content-section col-md-12" style="background-color:  rgb(253, 193, 182);">
  {% elif debt.5 == 0 %}
    <article class="media content-section col-md-12" >
  {% else %}
    <article class="media content-section col-md-12" style="background-color: rgb(217, 248, 170);">
  {% endif %}
    <div class="media-body">
      <div class="article-metadata border-bottom border-dark">
        <div class="row">
          <div class="col border-right border-dark">
            <h4>{{ debt.2 }}</h4>
          </div>
          <div class="col">
            <small class="text-muted">{{ debt.3 }}</small>
          </div>
        </div>
      </div>
      <div class="article-metadata border-bottom border-dark">
        <div class="row">
          <div class="col">
            {% if debt.4 > 0 %}
            <p>Coste: {{ debt.4 }} €</p>
            {% elif debt.4 == 0 %}
            <p>Coste: 0.0 €</p><!-- por eso de que python no pilla decimales de 0 -->
            {% else %}
            <p>Coste: {{ debt.4 }} €</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="article-metadata border-bottom border-dark">
        <div class="row">
          <div class="col">
            {% if debt.5 > 0 %}
            <p>Balance (debes): {{ debt.5 }} €</p>
            {% elif debt.5 == 0 %}
            <p>Balance: 0.0 €</p><!-- por eso de que python no pilla decimales de 0 -->
            {% else %}
            <p>Balance (te deben): {{ debt.5 }} €</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="article-metadata border-bottom border-dark">
        <div class="row">
          {% for user_name in debt.6 %}
          {% if forloop.last %}
          <div class="col">
            <p>{{ user_name }}</p>
          </div>
          {% else %}
          <div class="col border-right border-dark">
            <p>{{ user_name }}</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% for element in debt.7 %}
      <div class="row">
        <div class="col">
          <p class="text-muted">{{ element.0 }}</p>
        </div>
        <div class="col">
          {% for responsible in element.1 %}
          {% if forloop.last %}
          <span class="text-muted">{{ responsible }}</span>
          {% else %}
          <span class="text-muted">{{ responsible }}, </span>
          {% endif %}
          {% endfor %}
        </div>
        <div class="col">
          <small style="float: right;" class="text-muted">{{ element.2 }} €</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
</div>
{% endblock %}
{% block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a>
      </li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create
          group</a></li>
    </ul>
    </p>
  </div>
  <a role="button" class="btn btn-outline-secondary btn-block" href="#">Pay debt</a>
</div>
{% endblock side %}