{% extends "applostickes/base.html" %}
{% block content %}

{% for group_name, group_list in groups.items %}
<div class="col-md-12">
  <a class="article-title" href="{% url 'group' groupName=group_name group_identifier=group_list.3 %}"> 
    <article class="media content-section col-md-12">
      <div class="media-body">
        <div class="article-metadata">
          <div class="row">
            <div class="col border-right">
              <h4>{{ group_name }}</h4>
            </div>
            <div class="col">
              <small class="text-muted">{{ group_list.0 }}</small>
            </div>
          </div>
        </div>
        <div class="article-metadata">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              {% if group_list.1 > 0 %}
              <p style="justify-content: center; color: red;">Balance de grupo (debes): {{ group_list.1 }} €</p>
              {% elif group_list.1 == 0 %}
              <p style="justify-content: center;" class="text-muted">Balance de grupo: 0.0 €</p><!-- por eso de que python no pilla decimales de 0 -->
              {% else %}
              <p style="justify-content: center; color: forestgreen;" >Balance de grupo (te deben): {{ group_list.1 }} €</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% for transaction in group_list.2 %}
       
          <div class="col">
            <p style="display: inline;" class="text-muted">{{ transaction.0 }}</p>
          
            {% if transaction.1 > 0 %}
            <small style="float: right; color: red;">Balance de deuda (debes): {{ transaction.1 }} €</small>
            {% elif transaction.1 == 0 %}
            <small style="float: right;" class="text-muted">Balance de deuda: {{ transaction.1 }} €</small>
            {% else %}
            <small style="float: right; color: forestgreen;">Balance de deuda (te deben): {{ transaction.1 }} €</small>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </article> 
  </a>
</div>
{% endfor %}

{% endblock content %}
{%block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="#">Groups</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create
          group</a></li>
    </ul>
    </p>
  </div>
</div>
{% endblock side %}