{% extends "applostickes/base.html" %}
{% block content %}
{% for group_name, group_list in groups.items %}
<a class="article-title" href="{% url 'group' groupName=group_name group_identifier=group_list.3 %}">
  <div class="row">
    <article class="media content-section col-md-12">
      <div class="media-body">
        <div class="article-metadata">
          <div class="row">
            <div class="col-xs-6 col-sm-2 border-right">
              <h4>{{ group_name }}</h4>
            </div>
            <div class="col">
              <small class="text-muted">{{ group_list.0 }}</small>
            </div>
          </div>
        </div>
        <div class="article-metadata">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <p style="justify-content: center;" class="text-muted">Balance de grupo: {{ group_list.1 }}</p>
            </div>
          </div>
        </div>
        {% for transaction in group_list.2 %}
        <div class="row">
          <div class="col col-md-auto">
            <p class="text-muted">{{ transaction.0 }}</p>
          </div>
          <div class="col">
            <small style="float: right;" class="text-muted">Balance de deuda: {{ transaction.1 }}</small>
          </div>
        </div>
        {% endfor %}
        </div>
    </article>
  </div>
</a>
{% endfor %}
{% endblock content %}
{%block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="#">Groups</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
        <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create group</a></li>
      </ul>
    </p>
  </div>
</div>
{% endblock side %}
