{% extends "applostickes/base.html" %}

{% block content %}

{% for post in posts %}
<div class="row">
  <article class="media content-section col-md-12">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row">
          <div class="col-xs-6 col-sm-2 border-right">
            <a class="mr-2" href="{% url 'group' post.groupName %}">{{ post.groupName }}</a>
          </div>
          <hr>
          <div class="col-xs-6 col-sm-7">
            <small class="text-muted">{{ post.description }}</small>
          </div>
        </div>
      </div>
      <div class="article-metadata">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <p style="justify-content: center;">Balance: {{ post.balance }}</p>
          </div>
        </div>
      </div>
      {% for post in posts %}
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <p style="justify-content: center;">{{post.debt}}: {{ post.debtBalance }}</p>
        </div>
      </div>
       {% endfor %} 
      </div>
  </article>
  
</div>
  
{% endfor %}

{% endblock content %}
{%block side %}
<div class="col-md-4">
        <div class="content-section">
          <h3>Options</h3>
          <p class='text-muted'>
            <ul class="list-group">
              <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'user' %}">Home</a></li>
              <li class="list-group-item list-group-item-light"><a class="article-title" href="">Groups</a></li>
              <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
              <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create group</a></li>
            </ul>
          </p>
        </div>
</div>
{% endblock side %}
