{% extends "applostickes/base.html" %}
{% load i18n %}
{% block content %}
<div class="col">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <span style="color: green;">
          <ul class="errorlist">
            <li>
              {{ message }}
            </li>
          </ul>
        </span>
      </div>
    {% endfor %}
  {% endif %}
  <a class="article-title" href="{% url 'groups' %}">
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h3>{% trans "Groups" %}</h3>
        </div>
        {% for group_name, group_balance in groups.items %}
          {% if forloop.last %}
            <div>
              <p style="display: inline" class="text-muted">{{ group_name }}</p>
              {% if group_balance > 0 %}
                <small style="float: right; color: red;">{% trans "Balance (you owe)" %}: {{ group_balance }} €</small>
              {% elif group_balance == 0 %}
                <small style="float: right;" class="text-muted">{% trans "Balance" %}: 0.0 €</small><!-- por eso de que python no pilla decimales de 0 -->
              {% else %}
                <small style="float: right; color: forestgreen;">{% trans "Balance (you are owed)" %}: {{ group_balance }} €</small>
              {% endif %}
            </div>
          {% else %}
            <div class="article-metadata">
              <p style="display: inline" class="text-muted">{{ group_name }}</p>
              {% if group_balance > 0 %}
                <small style="float: right; color: red;">{% trans "Balance (you owe)" %}: {{ group_balance }} €</small>
              {% elif group_balance == 0 %}
                <small style="float: right;" class="text-muted">{% trans "Balance" %}: 0.0 €</small><!-- por eso de que python no pilla decimales de 0 -->
              {% else %}
                <small style="float: right; color: forestgreen;">{% trans "Balance (you are owed)" %}: {{ group_balance }} €</small>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </article>
  </a>
  <a class="article-title" href="{% url 'debts' %}">
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h3>{% trans "Debts" %}</h3>
        </div>
        {% for transaction_name, transaction_balance in transactions.items %}
          {% if forloop.last %}
          <div>
            <p style="display: inline;" class="text-muted">{{ transaction_name }}</p>
            {% if transaction_balance > 0 %}
              <small style="float: right; color: red;">{% trans "Balance (you owe)" %}: {{ transaction_balance }} €</small>
            {% elif transaction_balance == 0 %}
              <small style="float: right;" class="text-muted">{% trans "Balance" %}: 0.0 €</small><!-- por eso de que python no pilla decimales de 0 -->
            {% else %}
              <small style="float: right; color: forestgreen;">{% trans "Balance (you are owed)" %}: {{ transaction_balance }} €</small>
            {% endif %}
          </div>
          {% else %}
          <div class="article-metadata">
            <p style="display: inline;" class="text-muted">{{ transaction_name }}</p>
            {% if transaction_balance > 0 %}
              <small style="float: right; color: red;">{% trans "Balance (you owe)" %}: {{ transaction_balance }} €</small>
            {% elif transaction_balance == 0 %}
              <small style="float: right;" class="text-muted">{% trans "Balance" %}: 0.0 €</small><!-- por eso de que python no pilla decimales de 0 -->
            {% else %}
              <small style="float: right; color: forestgreen;">{% trans "Balance (you are owed)" %}: {{ transaction_balance }} €</small>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </article>
  </a>
</div>
{% endblock content %}
{% block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>{% trans "Options" %}</h3>
    <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="#">{% trans "Home" %}</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">{% trans "Groups" %}</a>
      </li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">{% trans "Debts" %}</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">{% trans "Create group" %}</a></li>
    </ul>
    </p>
  </div>
</div>
{% endblock side %}