{% extends "applostickes/base.html" %}
{% block content %}
<div class="col-md-12">
  <a class="article-title" href="{% url 'groups' %}">
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h3>Groups</h3>
        </div>
        {% for group_name, group_balance in groups.items %}
        {% if forloop.last %}
        <div>
          <p style="display: inline" class="text-muted">{{ group_name }}</p>
          {% if group_balance > 0 %}
          <small style="float: right;" class="text-muted">Balance (debes): {{ group_balance }} €</small>
          {% elif group_balance == 0 %}
          <small style="float: right;" class="text-muted">Balance: 0.0 €</small><!-- por eso de que python no pilla decimales de 0 -->
          {% else %}
          <small style="float: right;" class="text-muted">Balance (te deben): {{ group_balance }} €</small>
          {% endif %}
        </div>
        {% else %}
        <div class="article-metadata">
          <p style="display: inline" class="text-muted">{{ group_name }}</p>
          {% if group_balance > 0 %}
          <small style="float: right;" class="text-muted">Balance (debes): {{ group_balance }} €</small>
          {% elif group_balance == 0 %}
          <small style="float: right;" class="text-muted">Balance: 0.0 €</small><!-- por eso de que python no pilla decimales de 0 -->
          {% else %}
          <small style="float: right;" class="text-muted">Balance (te deben): {{ group_balance }} €</small>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </article>
  </a>
  <a class="article-title" href="{% url 'debts' %}">
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h3>Debts</h3>
        </div>
        {% for transaction_name, transaction_balance in transactions.items %}
        {% if forloop.last %}
        <div>
          <p style="display: inline;" class="text-muted">{{ transaction_name }}</p>
          {% if transaction_balance > 0 %}
          <small style="float: right;" class="text-muted">Balance (debes): {{ transaction_balance }} €</small>
          {% elif transaction_balance == 0 %}
          <small style="float: right;" class="text-muted">Balance: 0.0 €</small><!-- por eso de que python no pilla decimales de 0 -->
          {% else %}
          <small style="float: right;" class="text-muted">Balance (te deben): {{ transaction_balance }} €</small>
          {% endif %}
        </div>
        {% else %}
        <div class="article-metadata">
          <p style="display: inline;" class="text-muted">{{ transaction_name }}</p>
          {% if transaction_balance > 0 %}
          <small style="float: right;" class="text-muted">Balance (debes): {{ transaction_balance }} €</small>
          {% elif transaction_balance == 0 %}
          <small style="float: right;" class="text-muted">Balance: 0.0 €</small><!-- por eso de que python no pilla decimales de 0 -->
          {% else %}
          <small style="float: right;" class="text-muted">Balance (te deben): {{ transaction_balance }} €</small>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </article>
  </a>
</div>
{% endblock content %}
{% block side %}
<div id="sidebar" class="col-md-4">
  <div class="content-section">
    <h3>Options</h3>
    <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><a class="article-title" href="#">Home</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'groups' %}">Groups</a>
      </li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'debts' %}">Debts</a></li>
      <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'createGroup' %}">Create
          group</a></li>
    </ul>
    </p>
  </div>
</div>
{% endblock side %}